<h1>Add Listing</h1>

<form action="/properties" method="POST">
	<label>Title: </label><br>
	<input type="text" name="title"><br>
	<label>Descriptions: </label><br>
	<textarea name="body"></textarea><br>
	<input type="submit" value="Create Post">
</form>

