<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Welcome to iRoom!</title>
			<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	</head>
	<h1>iRoom</h1>
	<body>
		<%= yield %>
	</body>
</html>